MODE=paper
HELIUS_API_KEY=
# RPC_URL=https://mainnet.helius-rpc.com/?api-key=...
# GRPC_ENDPOINT=https://laserstream-mainnet-ewr.helius-rpc.com
# SENDER_URL=https://sender.helius-rpc.com/fast
# PRIVATE_KEY=
SIZE_PCT_OF_VSOL=1
MAX_OPEN_POSITIONS=20
# SHADOW_WALLET=omegoMAe1AMY5MFKQQr3JwXVy8F4eCvmBAfcpo8XAfq
# LOG_FILE=data/bot.jsonl
